{% extends 'base.html.twig' %}

{% block title %}Skills18{% endblock %}
{% block body %}
    {% include 'header.html' %}
    <div id="main">
        {% include 'sidebar.html' %}
        <div id="profile" class="con">
            {% if search %}
                PROFILE
                <div class="block">{{ search[0].name }}</div>
                <div class="block">{{ search[0].id }}</div>
            {% else %}
                <p>user not found</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
