{% extends 'base.html.twig' %}

{% block title %}Skills18{% endblock %}
{% block body %}
    {% include 'header.html' %}
    <div id="main">

        {% if search %}
            {% include 'profile.html' %}
            <div id="messages" class="con">
                {% if search %}
                    MESSAGES
                    {% for message in search[1] %}
                        <div class="block">{{ message.author.name }}: {{ message.content }}</div>
                    {% else %}
                        <p>no messages</p>
                    {% endfor %}
                {% endif %}
            </div>
        {% else %}
            {% include 'sidebar.html' %}
            <div id="messages" class="con">
                <p>profile not found</p>
            </div>
        {% endif %}
    </div>
{% endblock %}
